@{
    ViewData["Title"] = "Получить х";
}
<h1>@ViewData["Title"]</h1>
@model List<string>
@using TestSoft

<p>Use this page to detail your site's privacy policy.</p>
<h1>Список таблиц</h1>

<ul>
    @foreach (var tableName in Model)
    {
        <li>
            @tableName
            <form action="/Table/Data" method="post">
                <input type="hidden" name="tableName" value="@tableName" />
                <button type="submit">Показать таблицу</button>
            </form>
        </li>
    }
</ul>