@{
    ViewData["Title"] = "Home Page";
}
@model TableModel
<div class="text-center">
    <h1 class="display-4">Welcome ept</h1>
    <p class="alert alert-primary">@DateTime.Now.ToLongTimeString()</p>
    <form asp-action="Create">
        <button type="submit" class="btn btn-primary">Создать таблицу</button>
    </form>
</div>
