@{
    ViewData["Title"] = "Home Page";
}
@model TableModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="alert alert-primary">@DateTime.Now.ToLongTimeString()</p>
    <form asp-action="Create">
        <button type="submit" class="btn btn-primary">Создать таблицу</button>
    </form>
</div>
