@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
@model List<string>


<p>Use this page to detail your site's privacy policy.</p>
<h1>Список таблиц</h1>

<ul>
    @foreach (var tableName in Model)
    {
        <li>
            @tableName
            <form asp-controller="Table" asp-action="FillTable" method="post">
                <input type="hidden" name="tableName" value="@tableName" />
                <button type="submit">Заполнить таблицу</button>
            </form>
        </li>
    }
</ul>